<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EndPoint" value="CoreService"/>
    <add key="Username" value="DOMAIN\USER"/>
    <add key="Password" value="PASSWORD"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="CoreService" address="ENDPOINT_URL" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="Tridion.ContentManager.CoreService.Client.ICoreService"/>
    </client>
  </system.serviceModel>
</configuration>
